{% extends "base.html" %}
{%block content%}
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-10">
            <div class = "row">
              <div class = "col">
                <h1>Your Friends</h1>
                <h6>(Click a user's photo to view their profile)</h6>
                <p>TOTAL FRIENDS: {{ friendList | length }}</p>
              </div>
              <div class = "col">
                <h1>Users You May Know</h1>
              </div>
            </div>
            <div class="row">
              <div class="col greenborder">
                {% if friendList | length == 0 %}
                  <p>Add friends to see them here.</p>
                {% elif friendList | length <= 5 %}
                  {% for friend in friendList%}
                  <table>
                    <tr><td><a href="{{ url_for('publicProfileFriend') }}"><img src ="https://via.placeholder.com/50" class="pfp img-thumbnail"></a></td><td>{{friend}}</td><td><button href="#" onclick="{{remFriend(friend)}}" class="btn btn-secondary btnbtm">Remove Friend</button></td></tr>
                  </table>
                  {% endfor %}
                {% else %}
                  {% for friend in range(5) %}
                    <table>
                      <tr><td><a href="{{ url_for('publicProfileFriend') }}"><img src ="https://via.placeholder.com/50" class="pfp img-thumbnail"></a></td><td>{{friendList[friend]}}</td><td><button href="#" onclick="{{remFriend(friendList[friend])}}" class="btn btn-secondary btnbtm">Remove Friend</button></td></tr>
                  {% endfor %}
                      <tr><td><button href = "#" class = "btn btn-secondary btnbtm">Load More</button></td></tr>
                    </table>
                {% endif %}
              </div>
              <div class="col greenborder">
                {% if notFriendList | length <= 5 %}
                  {% for notFriend in notFriendList%}
                  <table>
                    <tr><td><a href="{{ url_for('publicProfileNotFriend') }}"><img src ="https://via.placeholder.com/50" class="pfp img-thumbnail"></a></td><td>{{notFriend}}</td><td><button href="#" onclick="{{addFriend(notFriend)}}" class="btn btn-secondary btnbtm">Add Friend</button></td></tr>
                  </table>
                  {% endfor %}
                {% else %}
                  {% for notFriend in range(5) %}
                    <table>
                      <tr><td><a href="{{ url_for('publicProfileNotFriend') }}"><img src ="https://via.placeholder.com/50" class="pfp img-thumbnail"></a></td><td>{{notFriendList[notFriend]}}</td><td><button href="#" onclick="{{addFriend(notFriendList[notFriend])}}" class="btn btn-secondary btnbtm">Add Friend</button></td></tr>
                  {% endfor %}
                    <tr><td><button href = "#" class = "btn btn-secondary btnbtm">Load More</button></td></tr>
                  </table>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-1">
            <input type="text" placeholder="Search Users...">
          </div>
        </div>
      </div>
    </div>
{%endblock%}